@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Broker</h1><br />
    <h3>
        <i>
        Crea tu usuario, <br />
        Las acciones<br />
        y empeza a comprar</i>
    </h3>
</div>
