@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Broker</h1><br />
    <h3>
        
        Crea tu usuario, <br />
        Compra acciones<br />
        y hace crecer tus ahorros
    </h3>
    <img src="https://media.gq-magazine.co.uk/photos/5e25d00550c26e0008a9b030/master/pass/20200120-invest.jpg" style="width:500px;height:400px;">
</div>
